/* universal mode */
* {
    box-sizing: border-box;
  }
  body {
      background-image: url("/graphics/portfolio_background.png");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #A8322D;
      background-attachment: fixed;
      cursor: crosshair;
  }
  ::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background-color: #A8322D;
}
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 2px 2px 4px rgb(0 0 0/0.75); 
}
::-webkit-scrollbar-thumb:hover {
    background: white;
}
  [class*="col-"] {
    float: left;
    padding: 16px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 72px;
  }
  .fuiContainer-left {
    flex: 50%;
    outline: 3px white dotted;
  }
  .fuiContainer-right {
    flex: 50%;
    outline: 3px white dotted;
  }
  .fuiContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 328px;
    height: 508px;
    bottom: 2.21vh;
    outline: 3px yellow dashed;
  }
  .topRow {
    position: fixed;
    background-image: url("/graphics/portfolio_background.png");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #A8322D;
      background-attachment: fixed;
      top: 0;
  }
  .nav {
    position: fixed;
    margin-top: 80px;
    width: 25%;
    margin-top: 72px;
    z-index: 1;
  }
  .navSubstitute {
    margin-top: 72px;
    height: 100%;
    visibility: hidden;
  }
  .right {
    float: right;
    display: flex;
    flex-direction: row;
    width: 144px;
  }  
  .right i {
    width: 48px;
    height: 48px;
    padding-top: 8px;
    text-align: center;
  }
  svg {
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
  }
a {
    text-decoration: none;
    font-family: 'Fira Sans Condensed';
    font-size: 18px;
    letter-spacing: 1px;
}
.navTab:hover {
    background: white;
    border-radius: 20px;
}
.navTab:hover i {
    color: #002A68;
    filter: drop-shadow(0 0 0);
}
.navTab:hover span {
    color: #002A68;
    filter: drop-shadow(0 0 0);
}
.actionIcon {
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
.actionIcon:hover {
    cursor: pointer;
    background: none;
    outline: 3px white solid;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
.menu:hover {
    cursor: pointer;
    background: none;
    outline: 3px white solid;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
.actionTab {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
  }
.actionTab i {
    height: 56px;
    width: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.actionTab:hover {
    cursor: pointer;
    background: none;
    border-radius: 20px;
    color: #002A68;
    outline: 3px white solid;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
.actionTab a span {
    color: white;
}
li a:link {
    width: 100%;
}
i {
    color: white;
}
ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navTab {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
  }
.navTab i {
    height: 100%;
    width: 24px;
    padding-top: 16px;
}
.navTab a span {
    color: white;
}
li a:link {
    width: 100%;
}
#copyright {
    font-size: 12px;
    margin-left: 20px;
    font-family: 'Comfortaa';
    color: white;
}
.fuiContainer1 {
    left: 34.84vw;
    right: 480.78px;
    width: 328px;
    height: 508px;
    bottom: 2.21vh;
    outline: 3px white dotted;
}
.fuiContainer2 {
    left: 63.71vw;
    /*right: 480.78px;*/
    width: 328px;
    height: 508px;
    bottom: 2.21vh;
    outline: 3px white dotted;
}
/* compact mode */
@media only screen and (max-width: 599.9px) {
    [class*="col-"] {
    width: 100%;
  }
  .nav {
    position: fixed;
    bottom: -5vh;
    width: 100%;
    background-image: url("/graphics/portfolio_background.png");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #A8322D;
      background-attachment: fixed;
  }
  .nav ul li {
    height: 64px;
  }
  .navSubstitute {
    bottom: 0;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .navTab {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .navTabTitle {
    display: none;
  }
  .navTab i {
    margin-left: 0;
    height: 100%;
  }
  .right {
    width: 48px;
  }
  .right .menu {
    display: inline-block;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
.right .actionIcon {
    display: none;
}
hr {
    display: none;
}
.actionTab {
    display: none;
}
#copyright {
    display: none;
}
.body {
    margin-top: -32px;
    margin-bottom: 64px;
}
}

/* medium mode */
@media only screen and (min-width: 600px) {
    .navTabTitle {
    display: none;
  }
  .navTab i {
    margin-left: 16px;
  }
  .navTab {
    width: 100%;
    text-align: left;
  }
  .nav {
    width: 16.66%;
  }
  .body {
    display: flex;
    flex-direction: column;
}
  .navSubstitute {
    width: 100%;
  }
  .actionTab i {
    margin-left: 16px;
  }
  .col-m-1 { 
  width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  .actionTab {
    display: block;
  }
  .actionTitle {
    display: none;
  }
}
/* expanded mode */
@media only screen and (min-width: 840px) {
  .navTabTitle {
    display: inline-block;
    position: absolute;
    height: 56px;
    padding-top: 18px;
    margin-left: 12px;
  }
  .navTab i {
    margin-left: 16px;
  }
  .navTab {
    width: 100%;
    text-align: left;
  }
  .actionTab {
    width: 100%;
    text-align: left;
  }
  .actionTab a span {
    color: white;
    }
    .actionTab i {
        margin-left: 16px;
      }
  .actionTitle {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    font-family: 'Fira Sans Condensed';
    font-size: 12px;
    color: white;
    height: 56px;
    padding-top: 12px;
    margin-left: 12px;
    width: 8.33%;
}
#copyright {
    height: 100%;
    margin-left: 20px;
    margin-top: 6%;
}
.body {
    display: flex;
    flex-direction: row;
  }
.col-l-1 { 
  width: 8.33%;
}
.col-l-2 {
  width: 16.66%;
}
.col-l-3 {
  width: 25%;
}
.col-l-4 {
  width: 33.33%;
}
.col-l-5 {
  width: 41.66%;
}
.col-l-6 {
  width: 50%;
}
.col-l-7 {
  width: 58.33%;
}
.col-l-8 {
  width: 66.66%;
}
.col-l-9 {
  width: 75%;
}
.col-l-10 {
  width: 83.33%;
}
.col-l-11 {
  width: 91.66%;
}
.col-l-12 {
  width: 100%;
}
}

