/* universal mode */
* {
    box-sizing: border-box;
  }
  body {
      background-image: url("/graphics/portfolio_background.png");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #A8322D;
      background-attachment: fixed;
      cursor: crosshair;
  }
  [class*="col-"] {
    float: left;
    padding: 16px;
    border: 1px solid red;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .body {
    display: flex;
    flex-direction: row;
  }
  .right {
    float: right;
    display: flex;
    flex-direction: row;
  }  
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navTab {
    display: flex;
    flex-direction: row;
    height: 56px;
  }
  .navTab i {
    height: 100%;
    width: 24px;
    outline: 3px white dotted;
}
.navTab span {
    height: 100%;
    outline: 3px white dotted;
}
li a:link {
    width: 100%;
    outline: 3px white dotted;
}
/* compact mode */
@media only screen and (max-width: 599px) {
    [class*="col-"] {
    width: 100%;
  }
  .nav {
    position: fixed;
    bottom: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .navTab {
    width: 100%;
    text-align: center;
  }
  .navTabTitle {
    display: none;
  }
}

/* medium mode */
@media only screen and (min-width: 600px) {
    .navTabTitle {
    display: none;
  }
  .col-m-1 { 
  width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
/* expanded mode */
@media only screen and (min-width: 840px) {
  .navTabTitle {
    display: inline-block;
  }
.col-l-1 { 
  width: 8.33%;
}
.col-l-2 {
  width: 16.66%;
}
.col-l-3 {
  width: 25%;
}
.col-l-4 {
  width: 33.33%;
}
.col-l-5 {
  width: 41.66%;
}
.col-l-6 {
  width: 50%;
}
.col-l-7 {
  width: 58.33%;
}
.col-l-8 {
  width: 66.66%;
}
.col-l-9 {
  width: 75%;
}
.col-l-10 {
  width: 83.33%;
}
.col-l-11 {
  width: 91.66%;
}
.col-l-12 {
  width: 100%;
}
}

