/* <html> */
/* <head> */
link {
    display: none;
  }
/* <body> */
a:link {
    text-decoration: none;
}
body {
    background-image: url("/graphics/portfolio_background.png");
    background-size: cover;
    background-position: 0% 25%;
    background-color: #A8322D;
    background-attachment: fixed;
    cursor: crosshair;
}
button {
    width: 214px;
    height: 36px;
    margin-bottom: 5%;
    border-radius: 10px;
}
.primaryButton {
    background-color: white;
    position: relative;
}
.secondaryButton {
    background: none;
    position: relative;
    border: 1px solid white;
    outline: 1px solid white;
    color: white;
    padding-bottom: 1%;
}
.inline-block {
    display: inline-block;
    outline: 3px blue dotted;
}
svg {
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    outline: 3px solid white;
}
::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* redlining step 1 */
/*.step1 {
    border: black dotted 3px;
}*/
header {
    background-image: url("/graphics/portfolio_background.png");
    background-attachment: fixed;
    position: fixed;
    height: 56px;
    left: 0%;
    right: 0%;
    top: 0%;
    z-index: 1;
}
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 75.5%;
    top: 0;
    height: 100%;
    margin-top: 56px;
    max-width: 304px;
}
hr.solid {
    border-top: 1px solid white;
    margin-left: 5.26%;
  }
section {
    position: absolute;
    left:24.5%;
    right: 0%;
    top: 10%;
    bottom: 0%;
}
footer {
    box-sizing: border-box;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 92%;
    bottom: 0%;
}
#mail {
    vertical-align: text-bottom;
}
#linkedInIcon {
    vertical-align: text-bottom;
}
.emailContact {
    position: relative;
    left: 32.5%;
    right: 0%;
    top: 25%;
    bottom: 25%;
}
.linkedInContact {
    position: relative;
    left: 62.5%;
    right: 0%;
    top: 25%;
    bottom: 25%;
}
/*.vertNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
}*/
/*.vertNavLink {
    color: white;
    font-family: 'fira sans condensed';
    font-size: 16px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 0.75);
}*/
/* redlining step 1-1 */
/*.step1-1 {
    border: black dotted 3px;
}*/
#fuiContain1 {
    position: absolute;
    /*left: 10.34%;*/
    left: 10.34vh;
    /*right: 38.71%;*/
    right: 480.78px;
    /*top: 13.54%;*/
    top: 0;
    width: 328px;
    /*height: 508px;*/
    bottom: 2.21vh;
}
/*#fuiContain2 {
    position: absolute;
    left: 63.71%;
    right: 9.84%;
    top: 13.54%;
    bottom: 2.21%
}*/
/*redlining step 1-2 */
/*.step1-2 {
    border: gray dotted 3px;
}*/
.fuiRadial {
    position: absolute;
    height: 180px;
    /*left: 4.27%;
    right: 4.27%;*/
    left: 14px;
    right: 14px;
    top: 0;
    /*bottom: 72.18%;*/
    bottom: 467px;
}
.fuiCard {
    position: absolute;
    left: 0;
    right: 0;
    top: 210px;
    bottom: 2.21vh;
    min-height: 300px;
    max-height: 437px;
    /*height: 300px;*/
}
/*redlining step 2 */
/*.step2 {
    border: yellow dotted 3px;
}*/
/*#logoContain {
    position: absolute;
    left: 0.25%;
    right: 95.75%;
    top: 0%;
    bottom: 0%;
    padding-top: 1%;
    text-align: center;
}*/
#pageTitleContain {
    position: absolute;
    float: left;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding-left: 1%;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 0.75);
}
#pageTitleContain #actionIconsContainer {
    float: right;
    height: 56px;
    outline: 3px blue dotted;
}
#downloadResumeIcon {
    outline: 3px white dotted;
}
.actionIcon {
    padding-top: 16px;
    margin-right: 32px;
    width: 24px;
}
.actionIcon:hover {
    cursor: pointer;
}
span {
    text-shadow: 2px 2px 4px rgb(0 0 0 / 0.75);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
.navLinkContainer {
    position: relative;
    width: 100%;
    height: 56px;
}
.navLinkContainer:hover {
    cursor: pointer;
    background: white;
    border-radius: 10px;
}
.navLinkContainer:hover a {
    color: #002A68;
    filter: drop-shadow(0 0 0);
}
.navLinkContainer:hover span {
    color: #002A68;
    text-shadow: 0 0 0 rgb(0 0 0 / 0);
}
.navLinkContainer:hover svg {
    filter: drop-shadow(0 0 0);
}

/*#navLinkContain1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
#navLinkContain2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 6.74%;
    bottom: 0%;
}
#navLinkContain3 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 13.48%;
    bottom: 0%;
}
#navLinkContain4 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 20.22%;
    bottom: 0%;
}*/
/*.fuiRadialBlockLarge {
    position: absolute;
    left: 0%;
    right: 40%;
    top: 0%;
    bottom: 0%;
}
.fuiRadialBlockMed {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 0%;
    bottom: 33.33%;
}
.fuiRadialBlockSmall {
    position: absolute;
    left: 42.67%;
    right: 22.67%;
    top: 66.67%;
    bottom: 0%;
}*/
.fuiCardInner {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*left: 7.2%;
    right: 6.2%;
    top: 5%;
    bottom: 4.7%;*/
    width: 279px;
    /*height: 246px;*/
    left: 24.5px;
    top: 24.5px;
    bottom: 28px;
    border-radius: 5px;
    background-color: rgba(0, 42, 104, 0.5);
    outline: 3px solid white;
    
}
#cardBorder {
    position: absolute;
    width: 278px;
    bottom: 28px;
    left: 24.5px;
    top: 24.5px;
    border-radius: 5px;
    outline: 3px solid white;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
    z-index: -1;
}
/*.fuiCardContent {
    position: relative;
    width: 50%;
}*/
#cardText {
    /*display: block;
    padding-top: 5%;
    width: 40%;*/
    margin-left: 8.2%;
    position: absolute;
    top: 14px;
    width: 214px;
}  
#cardButtons {
    position: absolute;
    top: 60%;
    margin-left: 8.2%;
    margin-top: 16px;
}
/*#viewResumeButtonIcon {
    filter: drop-shadow(0 0 0);
    position: relative;
    vertical-align: sub;
}
#downloadResumeButtonIcon {
    filter: none;
    position: relative;
    vertical-align: sub;
}*/
/* redlining step 3 */
/*.step3 {
    border: green dotted 3px;
}*/
/*#pageTitle {
    left: 9.98%;
    right: 3.92%;
    top: 25%;
    bottom: 25%;  
}*/
/*#actionIcon1 {
    position: absolute;
    left: 39.42%;
    right: 51.82%;
    top: 20%;
    bottom: 25%; 
}
#actionIcon2 {
    position: absolute;
    left: 59%;
    right: 40%;
    top: 20%;
    bottom: 25%; 
}
#actionIcon3 {
    position: absolute;
    left: 80.29%;
    right: 10.95%;
    top: 20%;
    bottom: 25%; 
}*/
.LinkIcon {
    position: absolute;
    margin-left: 5.26%;
    width: 24px;
    height: 56px;
    top: 25%;
}
.navLinkText {
    margin-left: 23.68%;
    position: absolute;
    height: 24px;
    top: 25%;
    padding-top: 1%;
    /*top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
/*.navLinkIcon {
    position: absolute;
    left: 5.26%;
    right: 86.84%;
    top: 15%;
    bottom: 25%; 
}*/
/*.navLinkTitle {
    position: absolute;
    left: 23.68%;
    right: 26.97%;
    top: 25%;
    bottom: 25%; 
}*/
/*fuiDisc {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}*/
.fuiCardCornerNW {
    position: absolute;
    /*left: -3%;
    right: 81.7%;
    top: 0%;
    bottom: 86.27%;*/
    top: 0;
    left: 0;
}
.fuiCardCornerNE {
    position: absolute;
    /*left: 81.7%;
    right: -4.6%;
    top: 0%;
    bottom: 86.27%;*/
    top: 0;
    right: 0;
}
.fuiCardCornerSE {
    position: absolute;
    /*left: 81.7%;
    right: -4.6%;
    top: 86.27%;
    bottom: 0%;*/
    bottom: 0;
    right: 0;
}
.fuiCardCornerSW {
    position: absolute;
    /*left: -3%;
    right: 81.7%;
    top: 86.27%;
    bottom: 0%;*/
    bottom: 0;
    left: 0;
}

/* redlining step 4 */
/*.fuiRadialBlockInner {
    position: absolute;
    left: 20.56%;
    right: 20.56%;
    top: 20.56%;
    bottom: 20.56%;
}*/
/* redlining step 5 */
/*.step5 {
    border: purple dotted 3px;
}*/
/*.fuiDiscInner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}*/

/* graphics */
.material-symbols-rounded {
    color: white;
}
.fuiImage {
    width: 100%;
    height: 100%;
}

/* fonts */
p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    color: white;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
a {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: medium;
    color: white;
    filter: drop-shadow(2px 2px 4px rgb(0 0 0/0.75));
}
/*li a:hover {
    color: #002A68;
    filter: drop-shadow(0 0 0);
}*/
/*#myName {
    font-size: 32px;
    color: white;
}*/
#pageTitleContain h1 {
    float: left;
    font-family: 'Comfortaa', sans-serif;
    font-size: 27px;
    color: white;
    margin-left: 5px;
}
.innerCardText {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: white;
    margin: 2%;
}